<a href="https://colab.research.google.com/github/Atique223/Quater-3/blob/main/Class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_string: str = "Hello World"

modified_string: str = my_string.split("l")
print(modified_string)

['He', '', 'o Wor', 'd']

In [ ]:
message : str= "Pakistan won all the matches of champions trophy!, Pakistan"
message = message.replace("Pakistan", "India")

print(message)

India won all the matches of champions trophy!, India

In [3]:
join_with =  ", "
cricket_team_countries: str = join_with.join(["Pakistan", "India", "USA"])

print(cricket_team_countries)

Pakistan, India, USA

In [1]:
name: str = "atique"

print(len(name))

6

In [4]:
name = "atique";

print(id(name))

138705318432944

In [ ]:
import sys

# # a = sys.intern("hello world")
# # b = sys.intern("hello world")

# a= "hello world"
# b = "hello world"

# print(id(a))
# print(id(b))
# print(a is b)
a = "hello"
b = "world"

c = "helloworld"
d = sys.intern(a + b)

print(c is d)

True

In [ ]:
string_methods: str = dir(str)


filtered_methods: str = [method for method in string_methods if not method.startswith("__")]


filtered_methods

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
fruits: list = ["Mango", "Grapes", "Banana"]

# print(fruits[0: 1])

# fruits.append("Orange" )
# fruits.append("Pineapple")
# fruits.append("Kiwi")
# fruits.append("Water melon")

fruits.extend(["Orange", "Pineapple", "Kiwi", "Water melon"])
fruits.pop(3)

print(fruits)

['Mango', 'Grapes', 'Banana', 'Pineapple', 'Kiwi', 'Water melon']

In [5]:
person : dict = {

    "name": "Atique",
    "age": 23,
    "isTeacher" : True,
    "class": {
        "timings": "2 to 5",
        "day": "Saturday"
    }
}


print(person['class']['timings'])

2 to 5

In [7]:
import random

babar_score: int = random.randint(0, 120)

if(babar_score > 50):
  print("ðŸ‘‘", "KING" )
else:
  print("ðŸ””","KING")

ðŸ”” KING

In [9]:
cricket_team_players = ("Babar Azam", "Rizwan", "Shaheen Afridi")

# cricket_team_players[1] = "Sarafraz Ahmed"
print(cricket_team_players)

('Babar Azam', 'Rizwan', 'Shaheen Afridi')

In [ ]:
value: set = {0, 1, 2, 4, 1, 2}
print(value)

{0, 1, 2, 4}

In [ ]:
fruits: set = {"Mango", "Grapes", "Banana", "Mango"}
print(type(fruits))

<class 'set'>